.document-form {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}
.field-block {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.labelField {
  margin-right: 30px;
  font-size: 20px;
}
.form-button {
  display: block !important;
  margin: 0 auto !important;
  margin-top: 30px !important;

}
